.app__input {
  padding: 2rem 4rem;
  border: 1px solid var(--color-golden);
  background: var(--color-black);
}

.app__input-heading {
  text-align: center;
}

.app__input-input {
  margin-top: 3rem;
  flex-direction: row;
}

.app__input-input input {
  width: 620px;
  border: 1px solid var(--color-golden);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-base);
  color: var(--color-white);
  margin-right: 2rem;
  padding: 0.75rem 1rem;
  background-color: var(--color-black);
}

.app__input-input button {
  width: max-content;
}

@media screen and (min-width: 2000px) {
  .app__input-input {
    font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .app__input-input {
    flex-direction: column;
    width: 100%;
  }
  .app__input-input input {
    margin: 0 0 2rem 0;
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .app__input {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 300px) {
  .app__input-heading h1 {
    font-size: 32px;
    line-height: 50px;
  }
}
